*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}
main{
    text-align: center;
}
.wrapper{
    display: inline-block;
}

kbd{
    border: solid 1px red;
    width: 4em;
    height: 4em;
    display: inline-block;
    position: relative;
}

kbd > button{
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;
}

kbd:hover > button{
    display: inline-block;
}