*{
    margin: 0;
    padding: 0;
}
body{
    background: #f2f2f2;
}
.info{
    text-align: center;
    margin-top: 30px;
}
.wrapper{
    margin: 30px auto;
    padding: 40px 0;
    width: 750px;
    background: white;
    text-align: center;
    box-shadow: 0 1px 5px #d8d8d8;
    position: relative;
}
.window{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-flow: column ;
    background: white;

}
.slideShowBrowser{
    width: 500px;
    height: 281px;
    overflow: hidden;
}
.slideShow{
    display: flex;
    align-items: center;
    transition: all 0.3s;
    transform: translateX(-500px);
}
.slideShowButton{
    position: absolute;
    top:100%;
    left: 325px;
    margin-top: 20px;
}
.slideShowButton button{
    font-size: 20px;
    border: none;
    background:  #f2f2f2;
}